@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
  font-size: 1rem;
  box-sizing: border-box;
}
body,#root{
  height: 100vh;
  margin: 0;
}
body, button {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

div.app-container {
  height: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}

header.app-header {
  grid-area: header;
  background-color: rgba(255,255,255,0.95);
  color: #000000;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px #e3e3e3 inset;
  min-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

div.header-navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 3%;
}

main {
  grid-area: main;
}

header a {
  text-decoration: none;
  color: #000000;
}

div.app-content {
  display: flex;
  flex-direction: row;
}

div.product-container {
 display: flex;
 width:80%;
}

div.sidenav{
  width: 20%;
  background-color: #ececec;
  position: fixed;
  right: 0;
  height: 100%;
}
footer {
  grid-area: footer;
  background-color: #ffffff;
  color: #9d9d9d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  font-size: 0.8rem;
  border-top: 1px solid #e3e3e3;
}


/*****Products Section ******/

.product-wrapper ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product-wrapper ul li{
  padding: 1rem;
  margin: 1rem;
}

div.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}
div.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
div.products p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
  width: 340px;
  
}

div.products a {
  text-decoration: none;
  color: #7b858a;
}

.prices {
  font-size: 1.5rem;
  color: #444444;
}
.prices span {
  color: #444444;
}

div.products img {
  max-height: 20rem;
  width: 25rem;
}

div.price div {
  font-size: 1.5rem;
}

div.price div {
  text-align: center;
}
button.buybtn {
  text-align: center;
  padding: 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
  border: 3px solid #000000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.08em;
}

button.buybtn:hover, button.buybtn:focus{
  outline: none;
  background-color: #000000;
  color: #ffffff;
}

/*******Product Page ********/

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
  padding: 1rem;
  margin: 1rem
}

.product-details img {
  max-height: 100vh;
  max-width: 40rem;
  margin: 0 auto;
}

.product-description {
  flex: 1 1;
  margin: 1rem;
}



/*******Buy Section *******/

div.product-image img{
  width:30%;
}

div.list-item {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

div.total-amt{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}


div.total {
  display: flex;
  justify-content: space-between;
}

.total p {
  font-weight: 600;
  font-size: 1rem;
}

button.button.remove-item {
  padding: 10px 20px; 
  cursor: pointer;
  text-transform: uppercase;
  border-radius: none;
}

div.final-amt {
  font-weight: 400;
  font-size: 1.6rem;
}

.total-amt button.button-checkout {
  text-align: center;
  padding: 10px 20px;
  background-color: #000000;
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #000000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.08em;
}

button.button-checkout:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

/******* Form Modal Checkout buy wizard*******/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 2em;
  min-width: 30%;
  max-width: 70%;
  color: #000000;
  background-color: #fff;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
}
.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}


form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  font-family: 1.2rem;
}

div.close-btn {
  text-align: right;
}

div.close-btn button {
  cursor: pointer;
}

button.button-checkout {
  text-align: center;
  padding: 10px 20px;
  background-color: #000000;
  cursor: pointer;
  color: #ffffff;
  border: 3px solid #000000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.08em;
}

div.checkout-details div {
  margin: 0 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #c0c0c0;

} 


/*****Loader in Home Page ******/

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #b9c4cc;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.animate-itemlist {
  position: relative;
  -webkit-animation-name: animate-itemlist;
  -webkit-animation-duration: 1s;
  animation-name: animate-itemlist;
  animation-duration: 1s
}

@-webkit-keyframes animate-itemlist {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animate-itemlist { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


/********Order Page *******/
div.order-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 7px 7px 20px #0000000D;
  border-radius: 20px;
  margin: 50px;
  padding: 40px;
  background-color: white;
}

div.order-detail ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  color: #444444;
}

div.order-detail ul {
  padding-inline-start: 0px;
}

div.order-detail ul li div:last-child {
  text-align: right;
  font-weight: 600;
  color: #000000;
}

div.order-detail ul li div:first-child {
  text-align: left;
  font-weight: 400;
  color: #444444;
}

div.order-detail ul li div{
  flex-basis: calc(50% - 0.4em);
}

div.order-detail h2 {
  color: #7b858a;
  text-align: center;
}

div.goback-btn a{
  text-align: center;
  padding: 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
  border: 2px solid #000000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.08em;
  text-decoration: none;
}

div.goback-btn {
  text-align: center;
}
h3.order-message {
  color: #22803f;
}

main.order-page {
  background-color: #e4f0f1;
}

/******Login*******/

div.login_container {
  width: 100%;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

div input.form-control{
  border-radius: 3px;
  text-align: left;
  font-size: .8rem;
  padding: 12px 20px;
  width: 100%;

}

div.form-group {
  width: 100%;
  margin-bottom: 10%;
  display: flex;
}

button.button-login {
  font-weight: 300;
  letter-spacing: .05em;
  background-color: #148fb5;
  border: 1px solid #148fb5;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-family: sans-serif;
  padding: 12px 20px;
  cursor: pointer;

}

div.text_container h2 {
  color:#444444;
}





